* {
  font-size: calc(8px + 2vmin);
}

.App , html{
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  max-height: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav ul {
  list-style: none;
  margin: 0 ;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav li:last-child {
  margin-right: 0;
}

h1, h3, a {
  color: #61dafb;
}

h2 , li , span , p , form {
  list-style-type: none;
  color: white;
}

table {
  border: 1px solid black;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

table th {
  background-color: #61dafb;
}

th select {
  width: 100%;
  height: 100%;
  background: transparent;
  text-align: center;
  border: none;
  color: inherit;
  font-family: inherit;
  font-weight: bold;
}

table tr:first-child {
  background-color: whitesmoke;
}

table tr:nth-child(even) {
  background-color: #61dafb;
}

table tr:nth-child(odd) {
  background-color: white;
}
table input{
  width: 90% ;
  border: 0;
  background: transparent;
  text-align: center;
}

input[type="checkbox"], input[type="radio"] {
  width: 20px;
  height: 20px;
}

@keyframes blink {
  0% { border-color: red; }
  50% { border-color: transparent; }
  100% { border-color: red; }
}

.blinking-input {
  border: 2px solid red;
  animation: blink 3s linear infinite;
}

table img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

button {
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
}